.lobby-screen {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #d3ad7f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-lobby {
  margin: auto;
  width: 60%;
  height: 100%;
  color: whitesmoke;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-lobby .lobby--title {
  background-color: #a0835f;
  padding: 10px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5%;
  transform: rotateZ(3deg);
  cursor: pointer;
}

.div-lobby .lobby--title h3 {
  color: whitesmoke;
  font-weight: bold;
  font-size: 40px;
}

.div-lobby .lobby--title img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -10px;
  right: -15px;
}

.lobby--container {
  display: flex;
  height: 100%;
  color: whitesmoke;
  position: relative;
  top: 20%;
  height: 70%;
}

.lobby-title h3 {
  color: whitesmoke;
}

.lobby-users-options {
  width: 70%;
  height: 85%;
}

.lobby-start-game {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10%;
  left: 25%;
  width: 50%;
}

.lobby-start-game button {
  transition: 250ms;
  width: 200px;
  text-align: center;
  padding: 10px;
  margin: 0;
  background-color: #a0835f;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
  color: whitesmoke;
  transform: rotateZ(-2deg);
}

.lobby-start-game button:hover {
  transform: rotateZ(-2deg) scale(1.1);
}

.lobby-start-game button:active {
  transform: rotateZ(-2deg) scale(0.8);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.lobby-users-options-articles {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  overflow: auto;
  margin: 10px 0;
}

.lobby-users-options-article {
  background-color: #f8e8d4;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
  margin: 10px 10px 5px 10px;
}

.lobby-users-options-article label {
  display: flex;
  align-items: center;
}

.lobby-users-options-article {
  padding: 10px;
}

.label-article {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label-article input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark-article {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 2px solid #a0835f;
}

.label-article:hover input ~ .checkmark-article {
  background-color: #ccc;
}

.label-article input:checked ~ .checkmark-article {
  background-color: #d3ad7f;
  border: 2px solid #a0835f;
}

.checkmark-article:after {
  content: '';
  position: absolute;
  display: none;
}

.label-article input:checked ~ .checkmark-article:after {
  display: block;
}

.label-article .checkmark-article:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
}

.lobby-users-options-article .checkbox-article {
  padding: 10px;
}

.lobby-options-container {
  width: 100%;
  min-width: 565px;
  max-width: 565px;
  height: 100%;
  overflow: auto;
}

.lobby-users-options-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow: auto;
  margin: 10px 0;
}

.lobby-users-options-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 150px;
  padding: 20px;
  margin: 10px;
  background-color: #f8e8d4;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.lobby-users-options-list h6 {
  color: black;
  margin-bottom: 5px;
  font-size: 18px;
}

.lobby-users-list {
  padding: 20px;
  height: 80%;
}

.lobby-users-options h3,
.lobby-users-list h3 {
  background-color: #a0835f;
  color: whitesmoke;
  width: fit-content;
  padding: 10px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: bold;
  transform: rotateZ(-1deg);
}

.lobby-users-options h5,
.lobby-users-list h5 {
  margin-top: -12px;
  margin-bottom: 20px;
  font-size: 15px;
  color: whitesmoke;
}

.lobby-users--infos-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 5px;
  transform: rotateZ(-1deg);
  background-color: #f8e8d4;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.lobby-users--name {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #171717;
  margin-bottom: 5px;
  overflow: hidden;
}

.lobby-users--name p {
  margin: 0;
}

.lobby-user-avatar {
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.lobby--invite-btn {
  position: relative;
}

.lobby--invite-btn span {
  position: absolute;
  bottom: 5px;
  right: 30px;
  font-size: 18px;
  color: whitesmoke;
  transition: 250ms;
}

.lobby-users--list-row {
  padding: 10px;
  height: 100%;
  width: 180px;
  overflow: auto;
}

.lobby-users-options--title {
  display: flex;
}

.lobby-users-options--title h3 {
  margin: 0 10px 0 10px;
  cursor: pointer;
  transition: 500ms;
}

.rc-slider-rail {
  background-color: #aaa;
}

.rc-slider-track {
  background-color: #575757;
}

.rc-slider-handle,
.rc-slider-handle:hover,
.rc-slider-handle:focus {
  border: solid 2px #171717;
  border-color: #171717;
}

.rc-slider-handle:active {
  border-color: #171717;
  box-shadow: 1px 1px 5px #a0835f;
}

.rc-slider-dot-active {
  border-color: #a0835f;
  background-color: #a0835f;
}

.rc-slider-mark-text {
  font-size: 12px;
}

.lobby--start-btn span {
  position: absolute;
  bottom: -40px;
  right: 0px;
  font-size: 15px;
  color: whitesmoke;
  transition: 250ms;
}

.lobby-user-crown {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 60px;
  transform: rotateZ(-7deg);
}
