.home-screen {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #d3ad7f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-home {
  margin: auto;
  width: 60%;
  height: 100%;
  color: whitesmoke;
  margin: 30px;
}

.home--container {
  height: 100%;
  color: whitesmoke;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home--container .home--title {
  background-color: #a0835f;
  padding: 10px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5%;
  transform: rotateZ(3deg);
  cursor: pointer;
}

.home--container .home--title h3 {
  color: whitesmoke;
  font-weight: bold;
  font-size: 40px;
}

.home--container .home--title img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -10px;
  right: -15px;
}

.div-home--avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  position: absolute;
  top: 25%;
}

.div-home--avatar input {
  background-color: #f8e8d4;
  border: 2px solid #a0835f;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  margin-bottom: 25px;
  transition: 500ms;
}

.div-home--avatar input:focus {
  outline: 0;
  border: 2px solid #f8e8d4;
}

.div-home--avatar button {
  transition: 250ms;
  width: 200px;
  text-align: center;
  padding: 10px;
  margin: 0;
  background-color: #a0835f;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
  color: whitesmoke;
  transform: rotateZ(-2deg);
}

.div-home--avatar button:hover {
  transform: rotateZ(-2deg) scale(1.1);
}

.div-home--avatar button:active {
  transform: rotateZ(-2deg) scale(0.8);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.div-avatar {
  position: relative;
}

.avatar-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 5px;
  border: 3px solid whitesmoke;
  margin-bottom: 15px;
}

.avatar-right-arrow {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 79px;
  right: -55px;
  cursor: pointer;
  transition: 250ms;
  filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.5));
}

.avatar-left-arrow {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 79px;
  left: -65px;
  cursor: pointer;
  transition: 250ms;
  filter: drop-shadow(-2px 2px 0 rgba(0, 0, 0, 0.5));
}

.avatar-right-arrow:hover,
.avatar-left-arrow:hover {
  transform: translateY(-5px);
}

.avatar-right-arrow:active,
.avatar-left-arrow:active {
  transform: translateY(5px);
  filter: drop-shadow(0px 0px 0 rgba(0, 0, 0, 0.5));
}

.home--footer {
  display: flex;
  position: absolute;
  bottom: 10px;
}

.home--footer p {
  margin: 5px;
  font-size: 18px;
  color: #a0835f;
  cursor: pointer;
}
