* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font: small-caps bold 24px/1 sans-serif;
}

body {
  overflow: hidden;
}

#root {
  height: 100vh;
}

*:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
  background-color: #d3ad7f;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(241, 240, 240);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  border: 1px solid white;
  background: none;
}
