body {
  overflow: hidden;
}

#root {
  height: 100vh;
}

*:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
  background-color: #d3ad7f;
}

.title-post {
  position: absolute;
  width: 60%;
  height: 25%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  top: 25%;
  left: 20%;
}

#game-board {
  width: 100%;
  height: 100%;
  background-color: #d3ad7f;
  font: small-caps bold 24px/1 sans-serif;
}

.game-cards {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  bottom: 10px;
  justify-content: center;
}

.game-profile {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
  bottom: 25%;
  right: 30%;
}

.game-role {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  bottom: 25%;
  right: 30%;
}

.countdown-container {
  position: absolute;
  top: 35%;
  left: 40%;
  width: 100%;
  height: 100%;
}

.time-title {
  color: white;
}

.game-card {
  width: 91px;
  height: 168px;
  border-radius: 15px;
  padding: 2px;
  border: 2px dashed white;
  cursor: pointer;
  margin-right: 20px;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.game-player-card {
  width: 35px;
  height: 65px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: -35px;
  transform: rotateZ(-95deg);
  transition: 0.5s;
}

.cards-right:hover {
  transform: rotateZ(-90deg) scale(1.5) translateY(-1rem) !important;
}

.cards-left:hover {
  transform: rotateZ(90deg) scale(1.5) translateY(-1rem) !important;
}

.cards-bottom:hover {
  transform: rotateZ(-180deg) scale(1.5) translateY(-1rem) !important;
}

.game-player-cards {
  left: -100px;
  top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centered {
  position: fixed;
  top: 48%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-15%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #111218;
  border: 5px solid #262939;
}

.game-defuse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.defuse-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.defuse-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
  border: 2px dashed white;
  padding: 2px;
  background-color: #101013;
}

.bg-settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}

.bg-future-cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}

.container-all-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.container-all-cards .future-cards img {
  cursor: pointer;
}

.container-all-cards .future-cards img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.2);
}

.container-all-cards .future-cards img:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.container-all-cards > div {
  padding: 20px;
}

.container-future-cards > div {
  padding: 20px;
}

.container-future-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.future-cards img {
  width: 180px;
  height: 270px;
  border-radius: 15px;
}

.game-player {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}

.game-player p {
  color: white;
}

.game-player-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-player-profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
}

.winner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.winner-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  justify-content: center;
}

.winner-container-avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.winner-container-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.winner-container .winner-crown-img {
  width: 100px;
  height: 100px;
  border-radius: 0 0 50% 50%;
  justify-content: center;
  animation: 'rotating 0.9s ease infinite';
}

.winner-container p {
  justify-content: center;
  color: white;
  font-size: 50px;
}

.winner-container button {
  margin-top: 25px;
  padding: 10px;
  border: 2px solid rgb(194, 182, 166);
  user-select: none;
  color: black;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) rotateZ(0.5deg);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  background-color: rgb(216, 202, 184);
  color: black;
  transition: 500ms;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
  font: small-caps bold 24px/1 sans-serif;
}

.winner-container button:focus {
  outline: none;
}

.winner-container button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.winner-container button:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

@keyframes bounce {
  from {
    top: 2%;
  }
  50% {
    top: 2.5%;
  }
  to {
    top: 2%;
  }
}

@keyframes highlight {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotating {
  from {
    transform: rotateZ(9deg);
  }
  25% {
    transform: rotateZ(-9deg);
  }
  50% {
    transform: rotateZ(9deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

.post-it {
  width: 50%;
  height: 10%;
  background-color: rgb(216, 202, 184);
  position: absolute;
  top: 5%;
  left: 25%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.pin-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.post-container img {
  width: 30px;
  height: 30px;
  position: absolute;
}

.post-container p {
  position: absolute;
  top: 25%;
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 30px;
}

.settings-post-it .post-container p {
  font-size: 25px;
  padding: 20px;
}

.pin-icon {
  width: 20px;
  height: 20px;
  background-color: rgb(221, 39, 39);
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border: 2px solid rgb(170, 8, 8);
  position: absolute;
  left: 5%;
  top: 10px;
}

.avatars-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.avatars-container img {
  left: 40px;
  top: 30px;
}

.keywords-container {
  width: 75%;
  height: 15%;
  position: absolute;
  display: flex;
  bottom: 5px;
  left: 12%;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.keywords-users,
.users-score {
  position: absolute;
  top: 240px;
  z-index: 2 !important;
}

.comments-users {
  position: absolute;
  top: 330px;
}

.comments-users p {
  width: 170px;
  text-align: center;
  padding: 5px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  background-color: rgb(216, 202, 184);
  color: black;
  cursor: pointer;
  transition: 250ms;
  transform: rotateZ(-3deg);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  animation: popup 0.5s linear;
}

.vote-users {
  position: absolute;
  top: 440px;
  width: 170px;
  height: 130px;
  border: 2px dashed #d3ad7f;
  background-color: #a0835f;
  padding: 5px;
  padding-right: 20px;
}

.keywords-users p,
.users-score p,
.comment-users p {
  width: 170px;
  text-align: center;
  padding: 5px;
  margin: 0;
  margin-bottom: 5px;
  background-color: rgb(216, 202, 184);
  border: 1px solid rgb(248, 233, 213);
  color: black;
  cursor: pointer;
  transition: 250ms;
}

.keywords-users p:hover {
  transform: scale(0.8);
}

.keywords-users p:active {
  transform: scale(0.2);
}

.keywords-container p:hover {
  transform: scale(1.1);
  /* background-color: rgb(248, 232, 212); */
}

.keywords-container p:active {
  transform: scale(0.8);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

@keyframes scale-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.keywords-container p {
  transition: 200ms;
  width: 200px;
  text-align: center;
  padding: 5px;
  margin: 0;
  background-color: rgb(216, 202, 184);
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.underline-player {
  transition: 250ms;
  cursor: pointer;
}

.underline-player:hover {
  opacity: 0.65;
}

.summary-div {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0;
  top: 45%;
  z-index: 1;
}

.summary-div p {
  transition: 200ms;
  width: 200px;
  padding: 5px;
  margin: 0;
  margin-bottom: 20px;
  background-color: rgb(216, 202, 184);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.advice-div {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 45%;
  z-index: 1;
}

.advice-div div {
  position: relative;
}

.advice-div div img {
  position: absolute;
  right: -30px;
  top: -15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(248, 233, 213);
  background-color: rgb(194, 182, 166);
}

.advice-div p {
  transition: 200ms;
  width: 200px;
  padding: 5px;
  margin: 0;
  margin-bottom: 90px;
  background-color: rgb(216, 202, 184);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: end;
  padding-right: 40px;
  font-size: 18px;
}

.summary-div div:nth-child(1) {
  transform: translateX(120px) rotateZ(2deg);
}

.summary-div div:nth-child(2) {
  transform: translateX(150px) rotateZ(-2deg);
}

.summary-div div:nth-child(3) {
  transform: translateX(100px) rotateZ(0deg);
}

.summary-div div:nth-child(4) {
  transform: translateX(140px) rotateZ(-5deg);
}

.summary-div div {
  transition: 500ms;
}

.summary-div div:nth-child(1):hover {
  transform: translateX(0px) rotateZ(2deg);
}

.summary-div div:nth-child(2):hover {
  transform: translateX(0px) rotateZ(-2deg);
}

.summary-div div:nth-child(3):hover {
  transform: translateX(0px) rotateZ(0deg);
}

.summary-div div:nth-child(4):hover {
  transform: translateX(0px) rotateZ(-5deg);
}

.advice-div div:nth-child(1) {
  transform: translateX(-120px) rotateZ(2deg);
}

.advice-div div:nth-child(2) {
  transform: translateX(-100px) rotateZ(-2deg);
}

.advice-div div:nth-child(3) {
  transform: translateX(-90px) rotateZ(0deg);
}

.advice-div div:nth-child(4) {
  transform: translateX(-140px) rotateZ(-5deg);
}

.advice-div div {
  transition: 500ms;
}

.advice-div div:nth-child(1):hover {
  transform: translateX(0px) rotateZ(2deg);
}

.advice-div div:nth-child(2):hover {
  transform: translateX(0px) rotateZ(-2deg);
}

.advice-div div:nth-child(3):hover {
  transform: translateX(-0px) rotateZ(0deg);
}

.advice-div div:nth-child(4):hover {
  transform: translateX(-0px) rotateZ(-5deg);
}

.timer-bar {
  position: absolute;
  top: 220px;
}

.react-sweet-progress-symbol {
  display: none;
}

@keyframes popup {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

.keywords-users-vote {
  position: absolute;
  top: 240px;
}

.keywords-users-vote p {
  width: 170px;
  text-align: center;
  padding: 3px;
  font-size: 18px;
  margin: 0;
  margin-bottom: 2px;
  background-color: rgb(216, 202, 184);
  color: black;
}

.vote-users img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(248, 233, 213);
  background-color: rgb(194, 182, 166);
  margin-bottom: 5px;
  margin-right: -20px;
}

.vote-button {
  transition: 200ms;
  width: 200px;
  text-align: center;
  padding: 5px;
  margin: 0;
  background-color: rgb(216, 202, 184);
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: rotateZ(-2deg);
  position: absolute;
  bottom: 45px;
  left: 42%;
  z-index: 2;
}

.vote-button:hover {
  transform: rotateZ(-2deg) scale(1.1);
  /* background-color: rgb(248, 232, 212); */
}

.vote-button:active {
  transform: rotateZ(-2deg) scale(0.8);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.post-role {
  position: absolute;
  left: 62px;
  top: -25px;
}

.post-role img {
  width: 50px;
  height: 50px;
  background-color: rgb(216, 202, 184);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.users-current-score {
  position: absolute;
  right: 20px;
  font-size: 18px;
  bottom: -10px;
  transform: rotateZ(-5deg);
  background-color: rgb(216, 202, 184);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  padding: 5px;
}

.game-full-screen {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 3;
}

.game-full-screen:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.settings-post-it {
  width: 50%;
  height: 50%;
  background-color: rgb(216, 202, 184);
  position: absolute;
  top: 25%;
  left: 25%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.settings-post-it button {
  position: absolute;
  top: 450px;
  left: 35%;
  transition: 250ms;
  width: 200px;
  text-align: center;
  padding: 10px;
  margin: 0;
  background-color: rgb(216, 202, 184);
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
  transform: rotateZ(-2deg);
}

.settings-post-it button:hover {
  transform: scale(1.1);
}

.settings-post-it button:active {
  transform: scale(0.7);
  background-color: rgb(248, 232, 212);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.game-turn {
  transition: 250ms;
  position: absolute;
  bottom: 40px;
  left: -70px;
  background-color: rgb(248, 232, 212);
  transform: rotateZ(-2deg);
  cursor: pointer;
}

.game-turn p {
  font-size: 30px;
  margin: 0;
  padding: 5px 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.game-turn:hover {
  transform: rotateZ(-2deg) translateX(70px);
}
