.div-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #d3ad7f;
}

.bg-preview,
.bg-winner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 23, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.bg-winner {
  justify-content: center;
}

.winner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  width: 95%;
  transition: 1000ms;
  animation-delay: 2s;
}

.winner-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  justify-content: center;
}

.winner-container-avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.winner-container-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.winner-container .winner-crown-img {
  width: 100px;
  height: 100px;
  border-radius: 0 0 50% 50%;
  justify-content: center;
  animation: 'rotating 0.9s ease infinite';
}

.winner-container p {
  justify-content: center;
  color: whitesmoke;
  font-size: 50px;
}

.winner-container button {
  margin-top: 25px;
  padding: 10px;
  border: 2px solid #c2b6a6;
  user-select: none;
  color: black;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) rotateZ(0.5deg);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  background-color: #d8cab8;
  color: black;
  transition: 500ms;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.winner-container button:focus {
  outline: none;
}

.winner-container button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.winner-container button:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.preview-description {
  display: flex;
  flex-direction: column;
  background-color: #d8cab8;
  position: relative;
  width: 50%;
  height: 50%;
  top: 20%;
  padding: 30px;
  overflow: auto;
}

.preview-title {
  width: 50%;
  height: 10%;
  max-height: 67px;
  background-color: #d8cab8;
  position: relative;
  top: 5%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.article-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 10%;
  max-height: 67px;
  background-color: #d8cab8;
  position: relative;
  top: 5%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.preview-title p {
  position: absolute;
  top: 25%;
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 30px;
}

.pin-icon {
  width: 20px;
  height: 20px;
  background-color: #dd2727;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border: 2px solid #aa0808;
  position: absolute;
  left: 5%;
  top: 10px;
  transition: 250ms;
}

.users-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 14%;
  z-index: 3;
}

.users-container img {
  left: 40px;
  top: 30px;
}

.keywords-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  position: relative;
  top: 42%;
  width: 70%;
  height: 120px;
}

.keywords-users,
.keywords-users-vote,
.users-score {
  position: absolute;
  top: 240px;
  z-index: 2 !important;
}

.comments-users {
  position: absolute;
  top: 330px;
}

.comments-users p {
  width: 170px;
  text-align: center;
  padding: 5px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  background-color: #d8cab8;
  color: black;
  cursor: pointer;
  transition: 250ms;
  transform: rotateZ(-3deg);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
  animation: popup 0.5s linear;
}

.vote-users {
  position: absolute;
  top: 420px;
  width: 170px;
  height: 130px;
  border: 2px dashed #d3ad7f;
  background-color: #a0835f;
  padding: 5px;
  padding-right: 20px;
}

.keywords-users p,
.users-score p,
.comment-users p {
  width: 170px;
  text-align: center;
  padding: 5px;
  margin: 0;
  margin-bottom: 5px;
  background-color: #d8cab8;
  border: 1px solid #f8e9d5;
  color: black;
  cursor: pointer;
  transition: 250ms;
}

.keywords-users p:hover {
  transform: scale(0.8);
}

.keywords-users p:active {
  transform: scale(0.2);
}

.keywords-container p:hover {
  transform: scale(1.1);
}

.keywords-container p:active {
  transform: scale(0.8);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

.keywords-container p {
  transition: 250ms;
  width: 200px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  background-color: #d8cab8;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.underlined-user {
  transition: 500ms;
  cursor: pointer;
}

.underlined-user:hover {
  opacity: 0.65;
}

.summary-div {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0;
  top: 45%;
  z-index: 4;
}

.summary-div p {
  transition: 200ms;
  width: 200px;
  padding: 5px;
  margin: 0;
  margin-bottom: 20px;
  background-color: #d8cab8;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.advice-div {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 45%;
  z-index: 4;
}

.advice-div div {
  position: relative;
}

.advice-div div img {
  position: absolute;
  right: -30px;
  top: -15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #f8e9d5;
  background-color: #c2b6a6;
}

.advice-div p {
  transition: 200ms;
  width: 200px;
  padding: 5px;
  margin: 0;
  margin-bottom: 90px;
  background-color: #d8cab8;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: end;
  padding-right: 40px;
  font-size: 18px;
}

.summary-div div:nth-child(1) {
  transform: translateX(120px) rotateZ(2deg);
}

.summary-div div:nth-child(2) {
  transform: translateX(150px) rotateZ(-2deg);
}

.summary-div div:nth-child(3) {
  transform: translateX(100px) rotateZ(0deg);
}

.summary-div div:nth-child(4) {
  transform: translateX(140px) rotateZ(-5deg);
}

.summary-div div {
  transition: 500ms;
}

.summary-div div:nth-child(1):hover {
  transform: translateX(0px) rotateZ(2deg);
}

.summary-div div:nth-child(2):hover {
  transform: translateX(0px) rotateZ(-2deg);
}

.summary-div div:nth-child(3):hover {
  transform: translateX(0px) rotateZ(0deg);
}

.summary-div div:nth-child(4):hover {
  transform: translateX(0px) rotateZ(-5deg);
}

.advice-div div:nth-child(1) {
  transform: translateX(-120px) rotateZ(2deg);
}

.advice-div div:nth-child(2) {
  transform: translateX(-100px) rotateZ(-2deg);
}

.advice-div div:nth-child(3) {
  transform: translateX(-90px) rotateZ(0deg);
}

.advice-div div:nth-child(4) {
  transform: translateX(-140px) rotateZ(-5deg);
}

.advice-div div {
  transition: 500ms;
}

.advice-div div:nth-child(1):hover {
  transform: translateX(0px) rotateZ(2deg);
}

.advice-div div:nth-child(2):hover {
  transform: translateX(0px) rotateZ(-2deg);
}

.advice-div div:nth-child(3):hover {
  transform: translateX(-0px) rotateZ(0deg);
}

.advice-div div:nth-child(4):hover {
  transform: translateX(-0px) rotateZ(-5deg);
}

.timer-bar {
  position: relative;
  top: 35px;
}

.react-sweet-progress-symbol {
  display: none;
}

@keyframes popup {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

.keywords-users-vote p {
  width: 170px;
  text-align: center;
  padding: 3px;
  font-size: 18px;
  margin: 0;
  margin-bottom: 2px;
  background-color: #d8cab8;
  color: black;
}

.vote-users img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f8e9d5;
  background-color: #c2b6a6;
  margin-bottom: 5px;
  margin-right: -20px;
}

.vote-button {
  transition: 200ms;
  width: 200px;
  text-align: center;
  padding: 5px;
  margin: 0;
  background-color: #d8cab8;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: rotateZ(-2deg);
  position: relative;
  top: 50%;
  z-index: 3;
}

.vote-button:hover {
  transform: rotateZ(-2deg) scale(1.1);
}

.vote-button:active {
  transform: rotateZ(-2deg) scale(0.8);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.post-role {
  position: absolute;
  left: 62px;
  top: -25px;
}

.post-role img {
  width: 50px;
  height: 50px;
  background-color: #d8cab8;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.users-current-score {
  position: absolute;
  right: 20px;
  font-size: 18px;
  bottom: -10px;
  transform: rotateZ(-5deg);
  background-color: #d8cab8;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  padding: 5px;
}

.game-full-screen {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 3;
}

.game-full-screen:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.preview-btn {
  position: relative;
  transition: 250ms;
  width: 200px;
  text-align: center;
  padding: 10px;
  margin: 0;
  background-color: #d8cab8;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
  transform: rotateZ(-2deg);
  top: 25%;
}

.preview-btn:hover {
  transform: scale(1.1);
}

.preview-btn:active {
  transform: scale(0.7);
  background-color: #f8e8d4;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.game-turn {
  transition: 250ms;
  position: absolute;
  bottom: 40px;
  left: -70px;
  background-color: #f8e8d4;
  transform: rotateZ(-2deg);
  cursor: pointer;
}

.game-turn p {
  font-size: 30px;
  margin: 0;
  padding: 5px 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.game-turn:hover {
  transform: rotateZ(-2deg) translateX(70px);
}

.game-skip-turn {
  transition: 500ms;
  position: absolute;
  bottom: 100px;
  left: -200px;
  transform: rotateZ(-2deg);
  cursor: pointer;
  z-index: 5;
}

.game-skip-turn p {
  font-size: 30px;
  padding: 10px 10px 10px 25px;
  margin: 0;
  border: none;
  background-color: #a0835f;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: whitesmoke;
  transform: rotateZ(-2deg);
  transition: 500ms;
}

.game-skip-turn:hover p {
  transform: rotateZ(-2deg) translateX(175px);
}

.game-skip-turn:active p {
  transform: rotateZ(-2deg) scale(0.8) translateX(200px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.article-calendar,
.article-validated {
  position: absolute;
  top: 48px;
  right: -49px;
  transform: rotateZ(-2deg);
}

.article-calendar p,
.article-validated p {
  background-color: #d8cab8;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  font-size: 28px;
  padding: 5px 50px;
}

.article-calendar img {
  position: absolute;
  width: 70px;
  height: 70px;
  right: -50px;
  top: 10px;
  transform: rotateZ(9deg);
}

.article-place {
  position: absolute;
  top: -50px;
  left: 0;
}

.article-place img {
  width: 400px;
  height: 400px;
  transform: rotateZ(5deg);
}

.article-place p {
  position: absolute;
  top: 192px;
  left: 90px;
  width: 240px;
  height: 40px;
  transform: rotateZ(-2deg);
  padding: 5px 10px;
  margin: 0;
  background-color: #d8cab8;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  font-size: 28px;
}

.article-header {
  font-size: 30px;
  text-align: center;
}

.user-container {
  position: relative;
  width: 170px;
  height: 210px;
  margin: 2px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  background-color: #d8cab8;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-avatar {
  width: 120px;
  height: 120px;
}

.user-name {
  font-size: 30px;
  top: 150px;
  color: #bd9b72;
}

.user-role {
  font-size: 20px;
  top: 180px;
}

@keyframes rotating {
  from {
    transform: rotateZ(9deg);
  }
  25% {
    transform: rotateZ(-9deg);
  }
  50% {
    transform: rotateZ(9deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
